<div class="hello-index">

    <h1>{{ t('app', 'Hello!') }}</h1>
    <p>{{ t('app', 'This is frontend hello index page') }}</p>
    {% if(id) %}
        <p>{{ t('app', 'Passed GET parameter is {id}', {'id': id}) }}</p>
    {% endif %}
</div>
